name: Bizom Attendance Data Pipeline

on:
  workflow_dispatch:  # Manual trigger
  schedule:           # Scheduled trigger
    - cron: "*/5 * * * *"  # Runs every 5 minutes

jobs:
  download-and-upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set Up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"  # Specify the Python version

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas boto3 selenium

    - name: Run script02.py
      run: |
        python script.py  # Run your second Python script
        
    - name: Run script02.py
      run: |
        python script02.py  # Run your second Python script

